@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <strong>Author:</strong>   <a href="mailto:markegaines@gmail.com">MarkEGaines@gmail.com</a><br /><br />
    <strong>WebPage:</strong>  <a href="https://mgaines1.azurewebsites.net/">My Personal Website</a> 
</div>